# Time series

In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

In [2]:
%matplotlib inline

## Date and Time Data Types and Tools

In [12]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2016, 3, 15, 19, 33, 23, 865000)

In [4]:
now.year, now.month, now.day

(2016, 3, 14)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting between string and datetime

In [10]:
stamp = datetime(2011, 1, 3)

In [11]:
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [13]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [17]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [18]:
datestrs

['7/6/2011', '8/6/2011']

In [19]:
pd.to_datetime(datestrs)
# note: output changed (no '00:00:00' anymore)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [20]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [21]:
idx[2]

NaT

In [22]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

## Time Series Basics

In [23]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.229872
2011-01-05    1.903269
2011-01-07    0.128910
2011-01-08   -1.061034
2011-01-10    1.397987
2011-01-12   -1.637926
dtype: float64

In [24]:
type(ts)
# note: output changed to "pandas.core.series.Series"

pandas.core.series.Series

In [24]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [25]:
ts + ts[::2]

2011-01-02    0.459743
2011-01-05         NaN
2011-01-07    0.257820
2011-01-08         NaN
2011-01-10    2.795973
2011-01-12         NaN
dtype: float64

In [26]:
ts.index.dtype
# note: output changed from dtype('datetime64[ns]') to dtype('<M8[ns]')

dtype('<M8[ns]')

In [27]:
stamp = ts.index[0]
stamp
# note: output changed from <Timestamp: 2011-01-02 00:00:00> to Timestamp('2011-01-02 00:00:00')

Timestamp('2011-01-02 00:00:00')

### Indexing, selection, subsetting

In [30]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [31]:
ts[stamp]

0.12891012653884754

In [32]:
ts['1/10/2011']

1.3979866421321856

In [33]:
ts['20110110']

1.3979866421321856

In [34]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    1.196559
2000-01-02   -1.107059
2000-01-03    0.620902
2000-01-04    0.129581
2000-01-05   -0.129358
2000-01-06    0.946916
                ...
2002-09-21   -0.647096
2002-09-22   -1.005595
2002-09-23   -0.127654
2002-09-24   -0.843912
2002-09-25    0.444869
2002-09-26   -1.762288
Freq: D, dtype: float64

In [35]:
longer_ts['2001']

2001-01-01   -1.643831
2001-01-02    1.765737
2001-01-03    0.338770
2001-01-04    1.944033
2001-01-05   -0.597658
2001-01-06    0.322477
                ...
2001-12-26    0.488015
2001-12-27   -0.608404
2001-12-28    0.525607
2001-12-29   -1.648457
2001-12-30    0.650247
2001-12-31    0.762606
Freq: D, dtype: float64

In [36]:
longer_ts['2001-05']

2001-05-01   -0.916662
2001-05-02    0.992430
2001-05-03   -1.336421
2001-05-04    0.579363
2001-05-05   -0.194400
2001-05-06   -1.230373
                ...
2001-05-26   -1.095242
2001-05-27    0.720138
2001-05-28    0.511432
2001-05-29   -0.177106
2001-05-30   -0.242735
2001-05-31    0.560030
Freq: D, dtype: float64

In [37]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.128910
2011-01-08   -1.061034
2011-01-10    1.397987
2011-01-12   -1.637926
dtype: float64

In [38]:
ts

2011-01-02    0.229872
2011-01-05    1.903269
2011-01-07    0.128910
2011-01-08   -1.061034
2011-01-10    1.397987
2011-01-12   -1.637926
dtype: float64

In [39]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.128910
2011-01-08   -1.061034
2011-01-10    1.397987
dtype: float64

In [40]:
ts.truncate(after='1/9/2011')

2011-01-02    0.229872
2011-01-05    1.903269
2011-01-07    0.128910
2011-01-08   -1.061034
dtype: float64

In [41]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [42]:
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.774453  0.616102  1.423530  0.096676
2001-05-09  1.834979 -1.284978  0.247762 -0.219373
2001-05-16 -0.114264  0.798492  0.274284  0.501571
2001-05-23  1.057290  0.861624 -2.786502  0.297462
2001-05-30  0.551762  1.286432 -0.072671  1.464944

### Time series with duplicate indices

In [43]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [44]:
dup_ts.index.is_unique

False

In [45]:
dup_ts['1/3/2000']  # not duplicated

4

In [46]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [47]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [48]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date ranges, Frequencies, and Shifting

In [49]:
ts

2011-01-02    0.229872
2011-01-05    1.903269
2011-01-07    0.128910
2011-01-08   -1.061034
2011-01-10    1.397987
2011-01-12   -1.637926
dtype: float64

In [50]:
ts.resample('D')

2011-01-02    0.229872
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    1.903269
2011-01-06         NaN
2011-01-07    0.128910
2011-01-08   -1.061034
2011-01-09         NaN
2011-01-10    1.397987
2011-01-11         NaN
2011-01-12   -1.637926
Freq: D, dtype: float64

### Generating date ranges

In [51]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [55]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [57]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [58]:
four_hours = Hour(4)
four_hours

In [59]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [60]:
Hour(2) + Minute(30)

In [ ]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

#### Week of month dates

In [3]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', offset='WOM-3FRI')]

### Shifting (leading and lagging) data

In [4]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.386920
2000-02-29    2.036850
2000-03-31   -2.466104
2000-04-30   -0.433732
Freq: M, dtype: float64

In [5]:
ts.shift(2)

2000-01-31        NaN
2000-02-29        NaN
2000-03-31    1.38692
2000-04-30    2.03685
Freq: M, dtype: float64

In [6]:
ts.shift(-2)

2000-01-31   -2.466104
2000-02-29   -0.433732
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

ts / ts.shift(1) - 1

In [7]:
ts.shift(2, freq='M')

2000-03-31    1.386920
2000-04-30    2.036850
2000-05-31   -2.466104
2000-06-30   -0.433732
Freq: M, dtype: float64

In [8]:
ts.shift(3, freq='D')

2000-02-03    1.386920
2000-03-03    2.036850
2000-04-03   -2.466104
2000-05-03   -0.433732
dtype: float64

In [9]:
ts.shift(1, freq='3D')

2000-02-03    1.386920
2000-03-03    2.036850
2000-04-03   -2.466104
2000-05-03   -0.433732
dtype: float64

In [10]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    1.386920
2000-02-29 01:30:00    2.036850
2000-03-31 01:30:00   -2.466104
2000-04-30 01:30:00   -0.433732
dtype: float64

#### Shifting dates with offsets

In [13]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [14]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [15]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [16]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [17]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [18]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.030336
2000-01-19    0.436546
2000-01-23    1.218205
2000-01-27    0.823238
2000-01-31    0.196314
2000-02-04    0.482619
                ...
2000-03-11    0.340997
2000-03-15   -0.406141
2000-03-19    0.864034
2000-03-23   -0.070476
2000-03-27    0.107423
2000-03-31   -1.608485
Freq: 4D, dtype: float64

In [19]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.540928
2000-02-29   -0.512189
2000-03-31   -0.119871
dtype: float64

In [20]:
ts.groupby(offset.rollback).mean()

1999-12-31    0.627081
2000-01-31   -0.423626
2000-02-29    0.092788
2000-03-31   -1.608485
dtype: float64

In [21]:
ts.resample('M', how='mean')

2000-01-31    0.540928
2000-02-29   -0.512189
2000-03-31   -0.119871
Freq: M, dtype: float64

## Time Zone Handling

In [22]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [23]:
tz = pytz.timezone('US/Eastern')
tz

### Localization and Conversion

In [25]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.249976
2012-03-10 09:30:00    1.024044
2012-03-11 09:30:00   -1.086706
2012-03-12 09:30:00   -1.158885
2012-03-13 09:30:00   -1.489429
2012-03-14 09:30:00   -0.824541
Freq: D, dtype: float64

In [26]:
print(ts.index.tz)

None

In [27]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [28]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.249976
2012-03-10 09:30:00+00:00    1.024044
2012-03-11 09:30:00+00:00   -1.086706
2012-03-12 09:30:00+00:00   -1.158885
2012-03-13 09:30:00+00:00   -1.489429
2012-03-14 09:30:00+00:00   -0.824541
Freq: D, dtype: float64

ts_utc.index

In [29]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.249976
2012-03-10 04:30:00-05:00    1.024044
2012-03-11 05:30:00-04:00   -1.086706
2012-03-12 05:30:00-04:00   -1.158885
2012-03-13 05:30:00-04:00   -1.489429
2012-03-14 05:30:00-04:00   -0.824541
Freq: D, dtype: float64

In [30]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.249976
2012-03-10 14:30:00+00:00    1.024044
2012-03-11 13:30:00+00:00   -1.086706
2012-03-12 13:30:00+00:00   -1.158885
2012-03-13 13:30:00+00:00   -1.489429
2012-03-14 13:30:00+00:00   -0.824541
Freq: D, dtype: float64

In [31]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.249976
2012-03-10 15:30:00+01:00    1.024044
2012-03-11 14:30:00+01:00   -1.086706
2012-03-12 14:30:00+01:00   -1.158885
2012-03-13 14:30:00+01:00   -1.489429
2012-03-14 14:30:00+01:00   -0.824541
Freq: D, dtype: float64

In [32]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with time zone-aware Timestamp objects

In [33]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [34]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [35]:
stamp_utc.value

1299902400000000000L

In [36]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000L

In [37]:
# 30 minutes before DST transition
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [38]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [39]:
# 90 minutes before DST transition
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [40]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations between different time zones

In [41]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
rng

DatetimeIndex(['2012-03-07 09:30:00', '2012-03-08 09:30:00',
               '2012-03-09 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00',
               '2012-03-15 09:30:00', '2012-03-16 09:30:00',
               '2012-03-19 09:30:00', '2012-03-20 09:30:00'],
              dtype='datetime64[ns]', freq='B')

In [42]:
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.846672
2012-03-08 09:30:00    0.946914
2012-03-09 09:30:00   -2.115493
2012-03-12 09:30:00    0.222333
2012-03-13 09:30:00   -1.685078
2012-03-14 09:30:00   -1.037068
2012-03-15 09:30:00   -0.271469
2012-03-16 09:30:00   -0.237188
2012-03-19 09:30:00    0.686151
2012-03-20 09:30:00   -0.176629
Freq: B, dtype: float64

In [44]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts1

2012-03-07 09:30:00+00:00    0.846672
2012-03-08 09:30:00+00:00    0.946914
2012-03-09 09:30:00+00:00   -2.115493
2012-03-12 09:30:00+00:00    0.222333
2012-03-13 09:30:00+00:00   -1.685078
2012-03-14 09:30:00+00:00   -1.037068
2012-03-15 09:30:00+00:00   -0.271469
Freq: B, dtype: float64

In [45]:
ts2

2012-03-09 13:30:00+04:00   -2.115493
2012-03-12 13:30:00+04:00    0.222333
2012-03-13 13:30:00+04:00   -1.685078
2012-03-14 13:30:00+04:00   -1.037068
2012-03-15 13:30:00+04:00   -0.271469
Freq: B, dtype: float64

In [46]:
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [47]:
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -4.230987
2012-03-12 09:30:00+00:00    0.444666
2012-03-13 09:30:00+00:00   -3.370156
2012-03-14 09:30:00+00:00   -2.074136
2012-03-15 09:30:00+00:00   -0.542938
Freq: B, dtype: float64

## Periods and Period Arithmetic

In [48]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [ ]:
p + 5

In [ ]:
p - 2

In [ ]:
pd.Period('2014', freq='A-DEC') - p

In [ ]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
rng

In [ ]:
Series(np.random.randn(6), index=rng)

In [ ]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

### Period Frequency Conversion

In [ ]:
p = pd.Period('2007', freq='A-DEC')
p.asfreq('M', how='start')

In [ ]:
p.asfreq('M', how='end')

In [ ]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

In [ ]:
p.asfreq('M', 'end')

In [ ]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

In [ ]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ts.asfreq('M', how='start')

In [ ]:
ts.asfreq('B', how='end')

### Quarterly period frequencies

In [ ]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

In [ ]:
p.asfreq('D', 'start')

In [ ]:
p.asfreq('D', 'end')

In [ ]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

In [ ]:
p4pm.to_timestamp()

In [ ]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = Series(np.arange(len(rng)), index=rng)
ts

In [ ]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

### Converting Timestamps to Periods (and back)

In [ ]:
rng = pd.date_range('1/1/2000', periods=3, freq='M')
ts = Series(randn(3), index=rng)
pts = ts.to_period()
ts

In [ ]:
pts

In [ ]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = Series(randn(6), index=rng)
ts2.to_period('M')

In [ ]:
pts = ts.to_period()
pts

In [ ]:
pts.to_timestamp(how='end')

### Creating a PeriodIndex from arrays

In [ ]:
data = pd.read_csv('ch08/macrodata.csv')
data.year

In [ ]:
data.quarter

In [ ]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

In [ ]:
data.index = index
data.infl

## Resampling and Frequency Conversion

In [ ]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(randn(len(rng)), index=rng)
ts.resample('M', how='mean')

In [ ]:
ts.resample('M', how='mean', kind='period')

### Downsampling

In [ ]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts

In [ ]:
ts.resample('5min', how='sum')
# note: output changed (as the default changed from closed='right', label='right' to closed='left', label='left'

In [ ]:
ts.resample('5min', how='sum', closed='left')

In [ ]:
ts.resample('5min', how='sum', closed='left', label='left')

In [ ]:
ts.resample('5min', how='sum', loffset='-1s')

#### Open-High-Low-Close (OHLC) resampling

In [ ]:
ts.resample('5min', how='ohlc')
# note: output changed because of changed defaults

#### Resampling with GroupBy

In [ ]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

In [ ]:
ts.groupby(lambda x: x.weekday).mean()

### Upsampling and interpolation

In [ ]:
frame = DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

In [ ]:
df_daily = frame.resample('D')
df_daily

In [ ]:
frame.resample('D', fill_method='ffill')

In [ ]:
frame.resample('D', fill_method='ffill', limit=2)

In [ ]:
frame.resample('W-THU', fill_method='ffill')

### Resampling with periods

In [ ]:
frame = DataFrame(np.random.randn(24, 4),
                  index=pd.period_range('1-2000', '12-2001', freq='M'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

In [ ]:
annual_frame = frame.resample('A-DEC', how='mean')
annual_frame

In [ ]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC', fill_method='ffill')
# note: output changed, default value changed from convention='end' to convention='start' + 'start' changed to span-like
# also the following cells

In [ ]:
annual_frame.resample('Q-DEC', fill_method='ffill', convention='start')

In [ ]:
annual_frame.resample('Q-MAR', fill_method='ffill')

## Time series plotting

In [ ]:
close_px_all = pd.read_csv('ch09/stock_px.csv', parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B', fill_method='ffill')
close_px.info()

In [ ]:
close_px['AAPL'].plot()

In [ ]:
close_px.ix['2009'].plot()

In [ ]:
close_px['AAPL'].ix['01-2011':'03-2011'].plot()

In [ ]:
appl_q = close_px['AAPL'].resample('Q-DEC', fill_method='ffill')
appl_q.ix['2009':].plot()

## Moving window functions

In [ ]:
close_px = close_px.asfreq('B').fillna(method='ffill')

In [ ]:
close_px.AAPL.plot()
pd.rolling_mean(close_px.AAPL, 250).plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = pd.rolling_std(close_px.AAPL, 250, min_periods=10)
appl_std250[5:12]

In [ ]:
appl_std250.plot()

In [ ]:
# Define expanding mean in terms of rolling_mean
expanding_mean = lambda x: rolling_mean(x, len(x), min_periods=1)

In [ ]:
pd.rolling_mean(close_px, 60).plot(logy=True)

In [ ]:
plt.close('all')

### Exponentially-weighted functions

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=1, sharex=True, sharey=True,
                         figsize=(12, 7))

aapl_px = close_px.AAPL['2005':'2009']

ma60 = pd.rolling_mean(aapl_px, 60, min_periods=50)
ewma60 = pd.ewma(aapl_px, span=60)

aapl_px.plot(style='k-', ax=axes[0])
ma60.plot(style='k--', ax=axes[0])
aapl_px.plot(style='k-', ax=axes[1])
ewma60.plot(style='k--', ax=axes[1])
axes[0].set_title('Simple MA')
axes[1].set_title('Exponentially-weighted MA')

### Binary moving window functions

In [ ]:
close_px
spx_px = close_px_all['SPX']

In [ ]:
spx_rets = spx_px / spx_px.shift(1) - 1
returns = close_px.pct_change()
corr = pd.rolling_corr(returns.AAPL, spx_rets, 125, min_periods=100)
corr.plot()

In [ ]:
corr = pd.rolling_corr(returns, spx_rets, 125, min_periods=100)
corr.plot()

### User-defined moving window functions

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = pd.rolling_apply(returns.AAPL, 250, score_at_2percent)
result.plot()

## Performance and Memory Usage Notes

In [ ]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ts.resample('15min', how='ohlc').info()

In [ ]:
%timeit ts.resample('15min', how='ohlc')

In [ ]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
%timeit ts.resample('15s', how='ohlc')